config local 'socks5'
    option disabled 0
    option protocol 'socks'
    option server 'sss0'
    option local_address '::'
    option local_port 2080
    option mode 'tcp_only'
    option timeout 30

config local 'http'
    option disabled 0
    option protocol 'http'
    option server 'sss0'
    option local_address '::'
    option local_port 2088
    option mode 'tcp_only'
    option timeout 30

config local 'redir'
    option disabled 0
    option protocol 'redir'
    option server 'sss0'
    option local_address '::'
    option local_port 2081
    option mode 'tcp_only'
    option timeout 30

config local 'tunnel'
    option disabled 0
    option protocol 'tunnel'
    option server 'sss0'
    option local_address '::'
    option local_port 2082
    option forward_address '8.8.8.8'
    option forward_port 53
    option mode 'tcp_only'
    option timeout 30

config local 'dns'
    option disabled 0
    option protocol 'dns'
    option server 'sss0'
    option local_address '::'
    option local_port 2083
    option local_dns_address '114.114.114.114'
    option local_dns_port 53
    option remote_dns_address '8.8.8.8'
    option remote_dns_port 53
    option client_cache_size 5
    option mode 'udp_only'
    option timeout 30

config local 'tun'
    option disabled 0
    option protocol 'tun'
    option server 'sss0'
    option local_address '::'
    option local_port 2084
    option tun_interface_name 'tun0'
    option tun_interface_address '10.255.0.1/24'

config rules
    option disabled 0
    option redir_tcp 'redir'
    option redir_udp 'redir'
    option src_default 'checkdst'
    option dst_default 'bypass'
    option local_default 'checkdst'
    list src_ips_forward '192.168.1.4'

config server 'sss0'
    option disabled 0
    option server '1.1.1.1'
    option server_port '12345'
    option method 'chacha20-ietf-poly1305'
    option password 'password'
    option plugin ''
    option plugin_opts ''
